body {
    background-color: #E5E5E5;
    min-width: 600px;
}
main {
    position: relative;
    width: 1440px;
    height: 900px;
    max-width: 90%;
    margin: auto;
    background: rgb(245, 244, 244);
    text-align: center;
}

.appbar {
    display: inline-flex;
    width: 100%;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
}
.appbar p {
    font-weight: bold;
    font-size: larger;
    margin-left: 40px;
}
.select {
    text-align: center;
    position: absolute;
    width: 100px;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.24);
    background-color: rgb(227, 229, 233);
}
#a {
    left: 86%;
    top: 10%;
}
#b {
    top: 10%;
    left: 2%;
}
#c {
    left: 2%;
    top: 38%;
}

span {
    margin: 5%;
}
#myCanvas {
    margin: 30px;
}